.container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  height: 45.2rem;
  margin-top: 0.8rem;
  background: #f0f5f8;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}

.head {
  font-size: 3.2rem;
  font-family: utopia-std, serif;
  font-weight: bold;
}

.title {
  font-size: 2rem;
  font-family: utopia-std, serif;
}
.text {
  font-size: 1.8rem;
  font-family: utopia-std, serif;
}

.right {
  width: 50%;
}
